@inherits LayoutComponentBase

<div class="main-layout">
    <header class="navbar navbar-dark bg-dark fixed-top shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center px-4">
            <a class="navbar-brand fw-bold fs-4 text-white" href="/">HomeToHome</a>
            <nav class="d-flex gap-4">
                <NavLink class="nav-link text-white" href="">Home</NavLink>
                <NavLink class="nav-link text-white" href="login">Log In</NavLink>
                <NavLink class="nav-link text-white" href="about"> About Us </NavLink>

                <NavLink class="nav-link text-white" href="ourservices">Services</NavLink>
                <NavLink class="nav-link text-white" href="contact">Contact Us</NavLink>
                <NavLink class="nav-link text-white" href="feedback">Feedback</NavLink>

            </nav>
        </div>
    </header>

    <div class="body-content" style="margin-top: 70px;">
        @Body
    </div>
</div>
